.pokemonList {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  @media all and (min-width: 650px) {
    flex-direction: row;
  }
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
  @media all and (min-width: 1200px) {
    flex-direction: row;
  }
  li {
    margin: 10px;
  }
}
