// HOJA DE ESTILO PARA EL COMPONENTE MADRE
// HOJA DE ESTILO PARA EL COMPONENTE MADRE
.pokemonList {
  width: 100vw;
  height: auto;
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
